VITE_GA_TRACKING_ID=G-NW8SFC1RKX
VITE_ADOBE_FONTS=
VITE_APTOS_DEVNET_URL=https://fullnode.devnet.aptoslabs.com/
VITE_INDEXER_GRAPHQL_MAINNET=
VITE_INDEXER_GRAPHQL_TESTNET=
VITE_INDEXER_GRAPHQL_DEVNET=
